body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.data-shell {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    background: #eee;
    margin: 10px auto;
    position: relative;
    text-align:center;
}

.item-shell {
    width: 50%;
    background: #fff;
    margin: 10px auto;
    position: relative;
    text-align:center;
}

.item_img {
    width: 50%;
	margin-right: 20px;
    background: #fff;
	float: left;
}

.item_text {
	background: #fff;
    text-align:left;
	display: block;
}

.data {
	width: 200px;
	height: 200px; 
	border: 1px solid black;
	margin: 10px;
}

.mainsearch {
	width: 400px;
}

button {
	color: #000000;
	background-color: #ffffff;
	text-decoration: none;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	padding: 0.75rem 1rem;
	width: 100px;
	border: 1px solid black;
}

button:hover {
	background-color: #eee;
}