.GaramondPro, body, h1, h2, h3 {
	font-weight: normal;
	font-style: normal;
	font-size: xx-large;
	font-family: "garamond", "Times New Roman", serif;
}

#button1 {
  font-size: small;
  font-family: "garamond";
}

div.container4 {
    height: 10em;
    position: relative }
div.container4 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }